# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map

# env
.env

# wdio e2e token (written by npm run setup:e2e:wdio)
.e2e-refresh-token

# obsidian
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store
